@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
/*clases generales */

.cover {
    object-fit: cover;
    height: 250px;
}
.cover_img_preview{
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.cover_miniatura {
    object-fit: cover;
    height: 60px;
    width: 100px;
}
.cover_mediano {
    object-fit: cover;
    width: 100%;
    height: 100px;
}
.cover_pequeno{
    object-fit: cover;
    width: 100%;
    height: 80px;
}
.cover_cuadrado {
    object-fit: cover;
    height: 120px;
    width: 120px;
}

.blur {
    filter: blur(20px);
}
.cursor{
    cursor: pointer;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/

.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}


.overlay_data_trabajador {
    background: #ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 700;
    top: 0;
    left: 0;
}

.overlay_data_hijo {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 700;
    top: 0;
    left: 0;
}

.no-registros {
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.custom-file {
    overflow: hidden;
}

.custom-file-input~.custom-file-label::after {
    content: "Elegir";
}
/*fin clases generales*/

/* List user */

.register-page #usernew_wrap {
    justify-content: center;
    display: flex;
    align-items: center;
}

.userManage-page .activeU {
    background-color: #495057;
    color: #ffffff;
}

.userManage-page .btn-group-vertical {
    width: 100%;
    overflow: hidden;
}

.userManage-page .btn-group-vertical>.btn {
    background-color: #ffffff;
    color: #495057;
    border-radius: 0;
    border: 1px solid #ced4da;
    text-align: left;
    width: 100%;
    outline: none !important;
}

.userManage-page .buttons-users>.btn {
    background-color: #ffffff;
    color: #495057;
    border-radius: 0;
    border: 1px solid #ced4da;
    border-bottom: 0;
    padding: 10px 20px;
    outline: none !important;
}

.userManage-page .btn-group div {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #ced4da;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
}

.userManage-page .width {
    background: #e9ecef;
    width: 60px;
}

.userManage-page .width .btn {
    background: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
}

.userManage-page .btn-group-lg .btn {
    border: 1px solid #ced4da;
    background: #ffffff;
    font-size: 14px;
}

.userManage-page .label {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid rgb(108, 192, 115);
    width: 100%;
    position: relative;
}

.userManage-page .message {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #ced4da;
    width: 100%;
    position: relative;
}

.userManage-page .fa-clipboard-list,
.userManage-page .fa-sort {
    font-size: 20px;
    position: absolute;
    right: 26px;
}

.userManage-page .fa-edit {
    font-size: 20px;
    position: absolute;
    right: 20px;
}

.userManage-page .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userManage-page .card .card-img-top,
.userManage-page .card .card-body {
    width: 100%;
    height: 100px;
    padding: 0 !important;
    margin: 0 !important;
}

.userManage-page .card .card-img-top {
    background: #495057;
}

.userManage-page .card .avatar_container {
    position: absolute;
}

.userManage-page .container-image .img-thumbnail {
    object-fit: cover;
    height: 160px;
    width: 160px;
}

.userManage-page #loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.userManage-page #loading img {
    margin: 10px 0;
}

.userManage-page .pager {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.userManage-page .dangerFocus:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* END list User*/

/* son */

.buscar-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 10px;
}

.buscar-padre .input-group {
    max-width: 600px;
}

.info_trabajador,
.info_hijo {
    color: #495057;
}

.profile .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: none;
}

.profile .container-image .img-thumbnail {
    height: 160px;
    width: 160px;
}

.profile .card-img-top,
.profile .card-body {
    width: 100%;
    height: 100px;
    padding: 0 !important;
    margin: 0 !important;
}

.profile .card-img-top {
    background: #495057;
}

.profile .object-fill {
    position: absolute;
}

.profile .list-group li {
    position: relative;
}

.profile .list-group li label {
    position: absolute;
    right: 0;
    padding-right: 20px;
    text-align: left;
}

.profile_2 .list-group li {
    position: relative;
}

.profile_2 .list-group li label {
    position: absolute;
    right: 0;
    padding-right: 20px;
    text-align: left;
}

.profile_2 img {
    height: 200px !important;
}

.profile_2 li {
    font-size: 14px;
}

.profile_2 strong {
    font-size: 14px;
}

#sons button {
    text-align: right;
}

#sons i {
    font-size: 20px;
    position: absolute;
    left: 20px;
}
.rowNews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.overlay_newsE{
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 800;
    display: flex;
    justify-content: center;
}
.overlay_newsE .contenedor_newsE{
    max-width:600px;
}.overlay_newsE .contenedor_newsE form{
    margin-top: 20px;
    background: #495057;
    padding: 20px;
    position: relative;
}.overlay_newsE .contenedor_newsE form label{
    color:#ffffff;
}
.overlay_newsE .contenedor_newsE form #close_newsE{
    position: absolute;
    right: -20px;
    top: -25px;
}
/* END son*/

.add-imageC button{
    height: 100px;
}
.carousel_container{
    position: relative;
    height: 60px;
}
.carousel_container .text{
    background: rgba(255, 255, 255, 0.44);
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carousel_container .text:hover{
    background: rgba(128, 125, 125, 0.4);
}
.carousel_container .text h4{
    text-shadow: 1px 1px 1px #000;
}
.carousel_container .active{
    background: rgba(128, 125, 125, 0.4);
}
.saldo-movimiento {
    font-size: 30px;
    color: green;
    font-weight: bold;
}
/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }
/*moveManage*/

/* .table-mov {
    font-size: 16px;
}

.table-mov>tbody>tr>td>input {
    font-size: 16px;
    width: 117px;
}

.table-mov>tbody>tr>td>div>button {
    font-size: 16px;
}
 */
/*moveManage*/
.cell-text {
    word-wrap: break-word !important;
  }


@media only screen and (min-width:200px) and (max-width:368px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 575 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 80vw;
        width: 100%;
      }
}
@media only screen and (min-width:369px) and (max-width:400px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 575 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 79vw;
        width: 100%;
      }
}
@media only screen and (min-width:401px) and (max-width:575px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 767 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 60vw;
        width: 100%;
      }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 767 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 60vw;
        width: 100%;
      }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 575 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 60vw;
        width: 100%;
      }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 575 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 35vw;
        width: 100%;
      }
}
@media only screen and (min-width:1200px) and (max-width:1400px) {
    /*Se ejecutará sólo cuando la resolución horizontal se encuentre entre 200 y 575 píxeles*/
    .chart-container {
        position: relative;
        margin: auto;
        height: 35vw;
        width: 100%;
      }
}